#generator {
  padding-top: 24px;
  padding-bottom: 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gen-header {
  text-align: center;

  h1 {
    margin: 0 0 10px 0;
    font-size: 30px;
    line-height: 1;
    color: var(--text-h);
  }
}

.gen-layout {
  width: 100%;
  max-width: 600px;
  padding: 0 16px;
  box-sizing: border-box;
}
